[Unit]
Description=Linux Anomaly Detection Service

[Service]
Type=simple
WorkingDirectory=/home/kamran/linux-threat-detection-ai
ExecStart=/usr/bin/python3 -m model.detect_anomalies
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
